<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="w-full h-screen bg-zinc-900 text-white p-10">
        <h3>Create User</h3>
        <form action="/create" method="post">
            <input class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-800 outline-none" type="text"
                placeholder="username" name="username" id="">
            <input class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-800 outline-none" type="email"
                placeholder="email" name="email" id="">
            <input class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-800 outline-none" type="password"
                placeholder="password" name="password" id="">
            <input class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-800 outline-none" type="number"
                placeholder="age" name="age" id="">
            <input class="px-4 py-2 rounded-md bg-blue-500" type="submit" value="Create User">
        </form>
    </div>
</body>

</html>